:root{
  --darkgray: #111827;
  --cyan: #B5F8FE;
  --blue: #2196F3;
  --gray: #ccc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: normal;
}

body{
  height: 100%;
}

.block{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 2dvh;
}

.dark-mode{
  background-color: var(--darkgray);
  color: var(--cyan);
  .btn{
    background-color: var(--blue);
    border-color: var(--cyan);
  }
  #quote{
    border-color: var(--blue);
  }
  #genre{
    color: var(--cyan);
    background-color: var(--darkgray);
  }
}

#quote{
  border: 4px solid var(--darkgray);
  border-radius: 44px;
  padding: 20px;
  font-size: 36px;
  text-align: center;
}

.btn{
  display: block;
  border: 2px solid var(--darkgray);
  border-radius: 32px;
  padding: 16px;
  background-color: var(--cyan);
}

.btn:hover{
  gap: 1rem;
  cursor: pointer;
}

.controls{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.prev-nxt, .randomize, .font-sizer p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4px;
}

.randomize{
  flex-direction: column;
  p{
    display: flex;
    align-items: center;
  }
  select{
    margin-left: 4px;
  }
}

.font-sizer p{
  flex-wrap: wrap;
}

#font-size {
  max-width: 100%;
  min-width: 80%;
  width: fit-content;
}

#genre{
  padding: 8px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  width: 40px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  background-color: var(--gray);
  -webkit-transition: .4s;
  transition: .4s; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}